.skillsContainer {
  text-align: center;
  padding: 8rem 3rem;
  background-color: #000000;
}

.skillsContainer h1 {
  font-size: 2.5rem;
  background: linear-gradient(to right, #2e004f, #4b0082, #6a0dad);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.skillsContainer p {
  font-size: 1.2rem;
  margin-bottom: 5rem;
  color: #ffffff;
}

.skillsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 4rem;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.icon:hover {
  transform: rotate(30deg);
}

.skill p {
  font-size: 1rem;
  color: #ffffff;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .skillsGrid {
    grid-template-columns: repeat(3, 1fr); 
  }

  .skillsContainer h1 {
    font-size: 2rem; 
  }

  .skillsContainer p {
    font-size: 1.1rem; 
  }
}

@media (max-width: 768px) {
  .skillsGrid {
    grid-template-columns: repeat(2, 1fr); ; 
    gap: 30px; 
  }

  .skillsContainer {
    padding: 6rem 2rem; 
  }

  .skillsContainer h1 {
    font-size: 2rem; 
  }

  .skillsContainer p {
    font-size: 1rem; 
  }

  .icon {
    font-size: 3rem; 
  }

  .skill p {
    font-size: 0.9rem; 
  }
}